
<!-- 해당포스트의 카테고리 출력 -->
<!-- category-list > 사이트내 카테고리 목록 -->
{% assign categories_sorted = post.categories | sort_natural %}

<!-- lyj_상단카테고리 표시-->
<p>
  <i class="fas fa-fw fa-folder-open " style="color: lightslategray;"></i>
  {% for category_word in categories_sorted %}
  <span class="catlist">
    <a class="sscroll text-info" href="{{site.baseurl}}/categories/{{category_word|slugize}}"
      style="color: lightslategray; font-size:smaller;">{{category_word}}</a></span>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
</p>



